*{
    padding:0;
    margin:0;
    color:pink
}
#navbar{
    height: 60px;
    background-color: black;
    border-color: red;
    border: 1px;
}
button{
    background-color: yellow;
}
#logo{
    color:yellow;
    font-size:25px

}
a{
    margin:70px;
    text-decoration:none
}
.contentbox{
    height: 100px;
    width: 100px;
    border: 3px solid black;
    display: inline-block;
}
#contentbox{
    height: 400px;
}
footer{
    background-color: black;
    color:aquamarine;
    text-align: center;
}